<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.xlm.mapper.AttractCommissionInfoMapper">

    <select id="listCommissionResp" resultType="com.xi.xlm.response.w.CommissionInfoIndexResp">
        SELECT m.nick_name nickName, c.commission_count priceCount
        from attract_commission_info c
                 left join web_member m on c.member_id = m.id
        group by c.id
        order by c.create_date desc
    </select>
</mapper>
