<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.xlm.mapper.ProductIntroduceTypeMapper">
    <resultMap id="BaseResultMap" type="com.xi.xlm.entity.AttracProductIntroduceType">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="update_date"  property="updateDate"/>
        <result column="update_by"  property="updateBy"/>
        <result column="create_by"  property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="selectListByPage" parameterType="com.xi.xlm.entity.AttracProductIntroduceType" resultMap="BaseResultMap">
        SELECT *
        from attrac_product_introduce_type
        order by create_date desc
    </select>


</mapper>